<%- include('../partials/header.ejs') %>
<div class="container">
  <form method="POST" action="/cohorts/<%= post.id %>">
    <input type="hidden" name="_method" value="PATCH" />
    <div class="form-group">
      <label for="logoUrl">Logo URL</label>
      <input
        type="text"
        class="form-control"
        name="logoUrl"
        placeholder="<%=post.logoUrl %>"
        value="<%=post.logoUrl %>"
      />
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="<%=post.name %> "
        value="<%=post.name %> "
      />
    </div>
    <div class="form-group">
      <label for="members">Members</label>
      <textarea
        name="members"
        class="form-control"
        rows="3"
        placeholder="<%=post.members %>"
        value="<%=post.members %> "
      >
<%=post.members %></textarea
      >
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>
<%- include('../partials/footer.ejs') %>
